<html>
  <body>
    <h1>Add item</h1>
    <form method="POST" action="/">
      <input type="text" name="name">
      <input type="text" name="price">
      <input type="submit" value="Add">
    </form>

    <h1>Item</h1>
    <table>
      {% for item in items %}
        <tr>
          <td>
            {{item.name}}
          </td>
          <td>
            <form method="POST" action="./update" style="display: inline">
              <input type="hidden" value="{{item.name}}" name="oldname">
              <input type="text" value="{{item.name}}" name="newname">
              <input type="submit" value="Update">
            </form>
          </td>
          <td>
            <form method="POST" action="./delete" style="display: inline">
              <input type="hidden" value="{{item.name}}" name="name">
              <input type="submit" value="Delete">
            </form>
          </td>
        </tr>
      {% endfor %}
    </table>
  </body>
</html>